.custom-button {
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  border-color: #fff;
  background-color: #948448;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-button h3 {
  color: #fff;
}
